body{
    background-color:lightblue;
}


#frame_nav{
    background-color:rgb(240,255,240);
    height:60px;
    box-shadow: white 5px 0px 5px;
    border-bottom-style:solid;
    border-color:lightblue;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between; 
    width: 100%;
}
#menu{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#searching_panel{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
}

#client_options_panel{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

#search_button{
    color:rgb(30,144,255);
    height:50%;
    width:100px;
    margin-left:5px;
    width:auto;
    height:auto;
    background-color:transparent;
    outline:none;
    border-style:none;
}
#search_button:hover{
    color:blue;
}
#search_bar{
    width:50%;
    max-width:500px;
    height:50%;
    outline: none;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightblue;
    color:rgb(30,144,255);
    font-weight:bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.client_item{
    color:rgb(30,144,255);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    font-family: Arial, sans-serif;
}
.client_item:hover{
    color:blue;
}

#nav_frame_container{
    position:fixed;
    width: 100%;
    min-height:70px;
    height: auto;
    z-index:10;
    top:0px;
    left:0px;
    display:flex;
    flex-direction: column;
}
#nav_details_container{
    padding:20px;
    bottom:80px;
    width:200px;
    border-width: 2px;
    color:rgb(30,144,255);
    background-color:rgba(240,255,240,0.2);
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: flex-start;
}

#frame_content{
    background-color: lightblue;
    width:80%;
    height: auto;
    min-height: 10%;
    margin-bottom:5px;
    margin-top:5px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 10px 10px 30px;
}
#frame_footer{
    width:100%;
    height:400px;
    background-color:rgb(70,130,180);

    color:white;
    margin-bottom: 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.footer_sub_container{
    padding-right:20px;
    padding-left:20px;
    margin-top:0px;
    width:auto;
    max-height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: bold;
    font-family:Arial, sans-serif;
    font-size:20px;
}
#frame_body{
    top:80px;
    position:absolute;
    width:100%;
    left:0px;
    height: auto;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
}
.menu_item{
    color:rgb(30,144,255);
    font-weight: bold;
    font-size:15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-left:10px;
    padding-right:10px;
    background-color:transparent;
    font-family: Arial, sans-serif;
}
.footer_list{
    list-style:none;
    padding-left:0px;
}
.vertical_line{
    height:80%;
    width:1px;
    border-left-style:solid;
    border-color:white;
}
.item_data{
    padding-left:5px;
}
.fas fa-user-circle{
    font-size:20px;
}
#filter_option{
    display:none;
}
@media only screen and (max-width: 1000px) {
    
    #frame_nav{
        flex-direction: column;
        height:auto;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
    }
    #searching_panel{
        width:80%;
        height:auto;
        order:2;
    }
    #search_bar{
        height:100%;
        width:100%;
    }
    #frame_body{
        top:120px;
    }
    #menu{
        margin-top:2px;
        margin-bottom:2px;
        width:100%;
        justify-content: center;
        border-bottom-style:solid;
        border-color: white;
        border-width:1px;
        order:1;
    }
    
    #client_options_panel{
        order:2;
        margin-bottom: 5px;
    }
    .item_data,.fas{
        font-size:15px;
    }
    .footer_title{
        font-size:15px;
    }
    #frame_footer{
        flex-direction: column;
        height:auto;
    }
    .footer_sub_container{
        margin-top:10px;
        margin-bottom:10px;
    }
    .footer_title{
        text-align: center;
    }
    .vertical_line{
        height:2px;
        width:80%;
        background-color:white;
    }
    #frame_content{
        width:100%;
    }
}
#close_filter_button{
    display:none;
    position: absolute;
    z-index:11;
    right:50px;
    top:0px;
}
#logo_text{
    font-size:25px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    -webkit-text-fill-color: lightblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    text-decoration: underline;
    text-decoration-color:lightblue;
    padding-left:5px;
}

#hide_button_container{
    display:none;
    background-color:rgb(30,144,255);
    color:white;
    font-weight: bold;
    width:100%;
    flex-direction: row;
    justify-content: center;
    order:4;
}
#hide_button_container:active{
    background-color:white;
    color:rgb(30,144,255);
}
#hide_up_button{
    display:none;
}
@media only screen and (max-width: 700px) {
    #nav_details_container{
        display:none;
        flex-direction: column;
        height:100%;
        width:100%;
        left:0px;
        top:0px;
        left:0px;
        position: fixed;
        z-index:10;
        background-color: #007fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: auto;
    }
    #logo_text{
        padding-left:15px;
        padding-right:15px;
        justify-content: center;
    }
    #frame_body{
        top:50px;
    }
    #filter_option{
        display: inline;
    }
    #close_filter_button{
        display:inline;
    }
    .menu_item_disp,#searching_panel,#client_options_panel{
        display:none;
        width:300px;
        justify-content: center;
    }
    #hide_button_container{
        display:flex;
    }
}

ul.style1 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
    
}

ul.style1 li {
	clear: both;
	margin-bottom: 25px;
	padding: 20px 0px 40px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style1 h3 {
	display: block;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
    color:black;
}

ul.style1 p {
	line-height: 150%;
}

ul.style1 .button-style {
	float: left;
	margin-top: 0px;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}
.button-style
{
	display: inline-block;
	background-color: #FC6103;
	margin-top: 20px;
	padding: 5px 30px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
    color:Black;
}
.comments_panel{
    border-style:solid;
    border-width: 1px;
    min-height:100px;
    width:100%;
    background-color:white;
}
/*
*{
    border-style:solid;
    border-color:black;
    border-width: 2px;
}*/

