body{
    background-image:url('../Images/admintoys-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.lng-meniu{
    background-color: darkred;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
}

.lng-meniu a{
    padding: 13px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.lng-meniu img{
    width: 30px;
    height: 30px;
}

a span{
    position: relative;
    top: 10px;
    padding: 10px;
}

a:hover{
    color: lightcoral;
}

#lng-account{
    position: absolute;
    bottom: 2%;
}


#adv_main_container{
    position: absolute;;
    top:20px;
    left:500px;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    padding:10px;
}
#inputs_container{
    border-right-style:solid;
    border-color: white;
    position: sticky;
    top:10px;
    background-color:rgba(255,0,0,0.5);
    height:500px;
    width:100%;
}
.input_label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width:200px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_panel{
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}

.input_field{
    height:25px;    
    max-width: 100%;
}
textarea.input_field{
    width:95%;
    height: 250px;
}
.title{
    font-size: 25px;
}
.main_posts_container{
    margin-left:50px;
    background-color:rgba(255,0,0,0.5);
}
/*
*{
    border-style:solid;
}*/