<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./pmv_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section id="view_container">
            <section id="products_container"> 
                <div class="product_mini_view">
                    <div class="product_mini_picture"><img src="../resurse/car.jpg" class="product_image"></div>
                    <div class="product_mini_description">Masina HotWheels</div>
                    <button class="add_to_chart_button"><i class='fas fa-shopping-cart add_to_chart_button_icon'></i>  Add to chart</button>
                    <hr class="view_sep">
                    <div class="product_price_description">Pret: <span class="main_price">30</span>,<sub class="sec_price">99</sub> ron</div>
                </div>
            </section>
        </section> 
        
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </body>
</html>