#view_container{
    width:90%;
    height:auto;
    margin-top:0px;
    background-color:transparent;
}
#products_container{
    border-left-style:solid;
    border-color: white;
    border-width: 1px;
    min-height:500px;
    height:auto;
    width:auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap:10px;
    justify-content: center;  
}
.main_price{
    font-size:30px;
}

.product_price_description{
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: bold;
    color:rgb(30,144,255)
}

a{
    text-decoration: none;
}

#page_buttons_panel{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-color: white;
    color:white;
    height:50px;
    width:100%;
    background-color:transparent;
}
.add_to_chart_button{
    width:150px;
    height:50px;
    border-radius: 5px;
    border-style: solid;
    border-color:lightblue;
    border-width: 2px;
    outline:none;
    background-color: rgb(30,144,255);
    color:white;
    font-size: 10px;
}
.add_to_chart_button:hover{
    background-color:rgb(70,130,180);
    color:lightblue;
}
.add_to_chart_button:active{
    background-color:azure;
    border-width: 3px;
}
.add_to_chart_button_icon{
    font-size: 25px;   
}
.page_buttons{
    background-color:transparent;
    border-style:none;
    outline:none;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.page_buttons:hover{
    color:rgb(30,144,255);
    font-weight: bold;
}
.product_mini_view{
    width:200px;
    height:350px;
    border-radius:5px;
    background-color:rgba(255,255,240,0.9);
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    display:none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    border-style:solid;
    border-color:lightblue;
    border-width: 1px;
}
.product_mini_view:hover{
    background-color:white;
    box-shadow: white 0px 0px 10px;
}

.product_mini_picture{
    width:100%;
    height:70%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.product_mini_description{
    height:15%;
    width:180px;
    color:rgb(30,144,255);
    font-size: 15px;
    font-weight: bold;
    font-family:Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}
.view_sep{
    background-color:rgb(30,144,255);
    height:1px;
    border-style: none;
    width:90%;
}
.product_image{
    width:90%;
    height:90%;
    border-radius: 5px;
    box-shadow: rgb(30,144,255) 1px 0px 5px;
}

@media only screen and (max-width: 700px) {
    #products_container{
        border-style:none;
    }
        
    #page_buttons_panel{
        border-left-style: none;
    }

}
