body{
    background-image:url('../Images/admintoys-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

header{
    display: flex;
    align-items: center;
}

h1{
    height: 20%;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family:  cursive;
    position: relative;
    left: 40%;    
}

table{
    width: 80%;
}

table, th, td {    
    border: 2px solid black;
    border-collapse: collapse;
    border-color: white;
}

table{
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 10%;
    right: 50%;
}

th, td{
    padding: 15px;
    color: white;
    font-family: cursive;
    text-align: center;
}

th{
    background-color: darkred;
}

td{
    background-color: lightcoral;
}

.lng-btn{
    border-radius: 10px;
    border-style: outset;
    background-color: darkred;
    width: auto;
    font-size: 20px;
    color: white;
}

