<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="./homepage.css">   
    <link rel="stylesheet" media="(max-width: 414px)" href="./resp_homepage.css">
    <title>Online Toys</title>
</head>

<body>
    <nav class="lng-meniu">
        <a href="#"><span><img src="./icons/comenzi.png" alt="comenzi"></span>Comenzi</a>
        <a href="#"><span><img src="./icons/users.png" alt="users"></span>Utilizatori</a>
        <a href="../Adaugare_produs/adaugare_produs.html"><span><img src="./icons/add.png" alt="add" ></span>Adaugare produs</a>
        <a href="../Adaugare_reclama/adaugare_reclama.html"><span><img src="./icons/add.png" alt="add" ></span>Adaugare reclama</a>
        <a href="#" style="color: lightcoral" ><span><img src="./icons/tasks.png" alt="home"></span>Homepage</a>
        <a href="#" id="lng-account"><span><img src="./icons/avatar.png" alt="avatar" ></span>Username</a>
    </nav>

    <section id="lng-content">
        <div id="lng-vanzari">
            <label>Vanzari</label>
            <img src="./icons/line-chart.png" alt="chart">
        </div>
        <div id="lng-utilizatorinoi">
            <label>Utilizatori</label>
            <span id="lng-count-users">+346</span>
        </div>
        <div id="lng-comenzinoi">
            <label>Comenzi</label>
            <img src="./icons/column-chart.png" alt="chart">
        </div>
        <div id="lng-produsenoi">
            <label>Stoc</label>
            <table id="lng-stoc">
                <tr>
                    <th>Produs</th>
                    <th>Cantitate</th>
                    <th>Adaugat</th>
                </tr>
                <tr>
                    <td>Jucarii</td>
                    <td>2000u</td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Puzzle</td>
                    <td>15000u</td>
                    <td><input type="checkbox" checked></td>
                </tr>
                <tr>
                    <td>Puzzle</td>
                    <td>15000u</td>
                    <td><input type="checkbox" checked></td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>