<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./create_acc_style.css">
    </head>
    <body>
        <section id="main_container">
            <div id="title_container">    
                <i class='fas fa-user-alt' id="title_picture"></i>
                <span id="title_label">Create Account</span>
            </div>
            <div class="input_data_panel">
                <div class="input_label">E-mail Address</div>
                <input type="text" class="input_box" onchange="validate_email(this)" id="email_field">
            </div>
            <div class="warning_message" id="email_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Password</div>
                <input type="password" class="input_box" onfocusout="validate_password(this)" id="password_field">
            </div>
            
            <div class="warning_message" id="password_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Confirm Password</div>
                <input type="password" class="input_box" onfocusout="validate_conf_password(this)" id="conf_password_field">
            </div>
            
            <div class="warning_message" id="conf_password_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Nume</div>
                <input type="text" class="input_box" onchange="validate_lastname(this)" id="lastname_field">
            </div>
            <div class="warning_message" id="lastname_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Prenume</div>
                <input type="text" class="input_box" onchange="validate_firstname(this)" id="firstname_field">
            </div>
            
            <div class="warning_message" id="firstname_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Phone Number</div>
                <input type="tel" pattern="^(\([0-9]{3}\)|[0-9]{3})[0-9]{3}[0-9]{4}$" class="input_box" onfocusout="validate_phone(this)" id="phone_field">
            </div>
            <div class="warning_message" id="phone_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Cod Postal</div>
                <input type="text" class="input_box">
            </div>
            <div class="warning_message" id="postal_code_warning">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Adresa</div>
                <textarea class="input_text_area"></textarea>
            </div>


            <hr class="sep_hr">
            <div id="buttons_panel">
                <input type="button" value="Create Account" class="user_button" onclick="final_validation(this)">    
            </div>
        </section>

        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="create_acc.js"></script>
    </body>
</html>