body{
    background-color:lightblue;
    background-attachment:cover;
    background-repeat: no-repeat;
    background-size:100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#main_container{
    width:900px;
    height:auto;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center ;
    align-items: center;
    background-color:rgb(70,130,180);;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 10px 10px 15px;
    border-style:solid;
    border-width: 2px;
    border-color:#0074D9;
    filter: grayscale(40%);
    padding-bottom:5px;
}
.input_data_panel{
    width:500px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.input_box{
    height:40px;
    width:300px;
    font-size:20px;
    background-color: azure;
}
.input_text_area{
    height:100px;
    width:300px;
    font-size:20px;
    background-color: azure;
    resize:none;
    font-size:15px;
}
.input_label{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:18px;
    width:auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}
#buttons_pannel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user_button{
    height:50px;
    font-weight: bold;
}
.user_button,.input_box,.input_text_area{
    outline:none;
    border-radius:5px;
    border-style:none;
    background-color: lightblue;
 
    border-style:solid;
    border-color:lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.input_text_area{
    color:#001f3f;
}

#title_container{
    font-size:30px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top:20px;
} 
#title_picture{
    font-size:100px
}
#title_label{
    font-size:20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} 
.sep_hr{
    width:80%;
    height:2px;
    border-style:none;
    background-color:white;
}
.user_button:hover{ 
    background-color:rgb(70,130,180);
    color:white;
}
.user_button:active{
    background-color:#0074D9;
}

.error_warn{
    width: 500px;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    margin-bottom:5px;
    text-align: right;
}

@media only screen and (max-width: 800px) {
    #main_container{
        width:100%;
        height:100%;
        top:0px;
        position: fixed;
        border-radius: 0px;
        overflow-y:auto;
    }
    .sep_hr{
        width:60%;
    } 
}
@media only screen and (max-width: 600px) {
    #main_container{
        width:100%;
        height:100%;
        top:0px;
        position: fixed;
        border-radius: 0px;
        overflow-y:auto;
    }
    .sep_hr{
        width:60%;
    } 
    .input_data_panel{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input_label{
        width:100%;
    }
    .error_warn{
        text-align:center;
    }
}

