body{
    background-image:url('../Images/admintoys-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#lng-login{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 50%;
    border-style: outset;
    border-radius: 10px;
    background: lightpink;
    background-image:url('../Images/admintoys-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 10px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.lng-data-input{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50% 50%;
    align-self: center;
    justify-self: center;
}

#lng-login-header{
    color: white;
    position: relative;
    top: 10%;
    font-size: 50px;
    align-self: center;
}

#lng-user-label{
    color: white;
    font-weight: bold;
    font-size: 30px;
    grid-column: 1;
    grid-row: 1;
}

#lng-user-input{
    grid-column: 2;
    grid-row: 1;
}

#lng-pwd-label{
    font-weight: bold;
    font-size: 30px;
    color: white;
    grid-column: 1;
    grid-row: 3;

}

#lng-pwd-input{
    grid-column: 2;
    grid-row: 3;
}

#lng-submit-btn{
    height: 10%;
    align-self: center;
    grid-column: 1/3;
    grid-row: 4;
}

.lng-input-field{
    border-radius: 10px;
    border-style: outset;
    background-color: darkred;
    color:white;
}

.lng-input-field:focus{
    color: white;
    font-size: 20px;
}

.lng-btn{
    border-radius: 10px;
    border-style: outset;
    background-color: darkred;
    width: 20%;
    font-size: 20px;
    color: white;
}