.product_filter_category{
    margin-left:10px;
    margin-top: 10px;
    display:flex;
    flex-direction:column;
    border-left-style:solid;
    border-color:white;
    border-width: 1px;
}
.category_title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.category_body,.category_title{
    padding-left: 10px;
}
.category_body{
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product_category{
    display:inline;
}
.category_title{
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.checkbox_label{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#filter_menu_button{
    position:fixed;
    top:100px;
    width:auto;
    height:50px;
    z-index:11;
    background-color: rgb(30,144,255);
    color: white;
    border-style: solid;
    border-color: black;
    outline: none;
}
.filter_button_panel{
    display:flex;
    flex-direction: row;
}
.filter_button{
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:rgb(30,144,255);
    color: white;
    border-radius: 5px;
    border-style: none;
    height:30px;
    width:50px;
    outline: none;
    margin-top:10px;
    margin-left:5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.filter_button:active{
    background-color:white;
    color:#007fff;
}
.filter_button:hover{
    background-color:rgb(70,130,180);
}
#filter_button_container{
    flex-direction:column;
    justify-content: center;
    align-content: center;
    padding-left:10px;
}
.filter_label{
    color:white;
    font-size:25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.filter_label_container{
    margin-left:10px;
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    #frame_body{
        overflow: hidden;
    }
    #flter_option{
        display: inline;
    }
    
    .product_filter_category{
        border-left-style:none;
        border-bottom-style:solid;
        width:100%;
        left:0px;
        padding-bottom:10px;
    }

}
